# Backend
ASPNETCORE_ENVIRONMENT=Development
ASPNETCORE_URLS=http://+:8080

# Postgres
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_DB=wfm
POSTGRES_USER=wfm
POSTGRES_PASSWORD=changeme

# MongoDB
MONGO_HOST=localhost
MONGO_PORT=27017
MONGO_DATABASE=wfm

# RabbitMQ
RABBITMQ_HOST=localhost
RABBITMQ_PORT=5672
RABBITMQ_USER=guest
RABBITMQ_PASSWORD=guest
